<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h4>Pay Your Rent. Collect Regalia cryptocurrency.</h4>
    <h5>Coming Spring 2018</h5>
    <button>Sign Up!</button>
    <button class="btn TEST-BLOCKCHAIN">TEST BLOCKCHAIN</button>
    <div class='results'></div>
    <br>
    <br>
    <form class="sign-up-form">
    <input class="form-control form-control-lg" type="text" placeholder="Username" required>
    <input class="form-control form-control-lg" type="text" placeholder="Password" required>
    </form>
    <script
  src="http://code.jquery.com/jquery-3.3.1.slim.js"
  integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
  crossorigin="anonymous"></script>
  </body>
</html>
