.problem,
.no-problem {
	display: none;
	margin-top:100px;
}
.greeting {
	display: flex;
	font-size: 1.5em;
	justify-content: center;

}
.regalia-amount {
	display: flex;
	font-size: 1.4em;
	justify-content: center;
	color: darkorange;
}
.btn-section {
	display:flex;
	margin:10px;
	flex-direction: row-reverse;
}
.panel-success {
	display: flex;
	flex-direction: space-around;
}
.btn {
	margin: 10px;
}
@media (max-width:380px) {
.body {
	width: 380px;
}
.panel-success {
	margin:0;
	
	outline: dotted 1px red;
}
.btn-section {
	display: flex;
	flex-direction: column-reverse;
	outline: dotted 1px red;
}
.regalia-amount {
	padding-bottom: 1em;
}

}