.Rent-Payment {
	font-size: 36px;
	font-weight: bold;
}
.glyphicon {
	font-size: 36px;
}
.Regalia-coin {
	display: block;
	text-align: center;
	font-size: 24px;
}
.greeting {
	text-align: center;
}
.problem, .no-problem { 
	display: none; 
	margin-top:100px; 
}
.btn-section .btn {
	width:100%;
	display:block;
	text-align: center;
	margin:10px 0;
	margin-left: 5px;
	margin-right: 5px;
}
.btn-glyphicon {
	font-size: 1.2em;
}
.modal-btn .glyphicon {
	font-size: 1em;
}
.modal-glyphicon {
	display:inline;
	font-size: 1.2em;
}
.update-account-msg {
	display:none;
	color:green;
}
/* for desktop */
@media (min-width:768px) {
	.glyphicon {
		font-size: 5em;
		display:block;
	}
	.btn-section {
		display: inline-flex;
		width:100%;
		margin:5px 0 0;
	}
	.btn-glyphicon {
		font-size: 1.2em;
	}
	.btn {
		margin-left: 10px;
		margin-right: 10px;
	}
	.modal-glyphicon {
		display:inline;
		font-size: 1.2em;
	}
	.update-account-msg {
		display:none;
		color:green;
	}
}