body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.nav-tabs {
	margin: 30px auto 30px;
}
#home {
	width:70%;
	margin:20px auto;
}
h4 {
  font-size: 2em;
}
.login-form-response {
	display: none;
	margin:20px auto;
}
.aptphoto, .accountphoto {
	width: 50%;
}
.display-total-regalia {
	padding-top: 5px;
}
.total-regalia {
	font-size: 1.2em;
	color: forestgreen;
}
.delete-alert-danger2 {
	display : none;
	color: red;
}
.email-address-input, .password-input, .firstname-input, .lastname-input {
	width: 50%;
}
.rentpayment-input {
	width: 30%;
}
.input-instruct-gray {
	color: darkgray;
}
.instructions {
	font-size: 1.2em;
	padding: 10px;
}
.steps-list {
	margin-bottom: 100px;
}
