body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.nav-tabs {
	margin: 30px auto 30px;
}
#home {
	width:70%;
	margin:20px auto;
}
<<<<<<< HEAD

h4 {
  font-size: 2em;
=======
.form-response {
	margin:20px auto;
	display:none;
>>>>>>> 6f46eafac3a981ba0a3c887468af05de0a5312ee
}